<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>User/Email: <%= user.email.capitalize %></td>
    </tr>
    <tr>
      <td>Role: <%= user.role.humanize %></td>
    </tr>
  <div class="actions">
    <td><%= form.select :role, [['User', 'user'],['Support', 'support'],['Lead', 'lead'],['Admin', 'admin']], selected: user.role %></td>
  </div>

  <div class="actions">
    <td><%= form.submit %></td>
  </div>
  </table>
<% end %>
