<% unless bug_ticket.try(:event) && bug_ticket.event == "create" %>
    <tr>
      <td><%= bug_ticket.try(:reify) ? bug_ticket.created_at : bug_ticket.created_at%></td>
      <td>
        <%= User.find(bug_ticket.whodunnit).email %>
        <br>
        <%= User.find(bug_ticket.whodunnit).role %>
      </td>
      <td>

      <p>
        <strong>Status:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.status : bug_ticket.status%>
      </p>

      <p>
        <strong>Priority:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.priority : bug_ticket.priority%>
      </p>

      <p>
        <strong>Ticket Reporter:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.owner : bug_ticket.owner%>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.comment : bug_ticket.comment%>
      </p>
    </td>
  </tr>
<% end %>