<% unless bug_ticket.try(:event) && bug_ticket.event == "create" %>
    <tr>
      <td><%= bug_ticket.try(:reify) ? bug_ticket.reify.updated_at : bug_ticket.updated_at%></td>
      <td>
        <%= User.find(bug_ticket.paper_trail_originator).email.humanize %>,
        <br>
        <%= User.find(bug_ticket.paper_trail_originator).role.humanize %>
      </td>
      
      <td>
        <p>
          <strong>Status:</strong>
          <%= bug_ticket.try(:reify) ? bug_ticket.reify.status.humanize : bug_ticket.status.humanize %>
        </p>

        <p>
          <strong>Priority:</strong>
          <%= bug_ticket.try(:reify) ? bug_ticket.reify.priority.humanize  : bug_ticket.priority.humanize %>
        </p>

        <p>
          <strong>Ticket Reporter:</strong>
          <%= bug_ticket.try(:reify) ? bug_ticket.reify.owner.capitalize : bug_ticket.owner.capitalize %>
        </p>

        <p>
          <strong>Comment:</strong>
          

        <% if bug_ticket.reify.comment.nil? || bug_ticket.reify.comment =="" %>
          <%= "#{'None'}" %>
        <% else %>
          <%= bug_ticket.reify.comment %>
        <% end %>
        </p>
      </td>
    </tr>
  
<% end %>