<% unless bug_ticket.try(:event) && bug_ticket.event == "create" %>
<table>
  <thead>
    <th>Last Updated</th>
    <th>Modifier</th>
    <th>Changes</th>
  </thead>
  <tbody>
    <tr>
      <td><%= bug_ticket.try(:reify) ? bug_ticket.created_at : bug_ticket.created_at%></td>
      <td>
        <%= User.find(bug_ticket.whodunnit).email.humanize %>,
        <br>
        <%= User.find(bug_ticket.whodunnit).role.humanize %>
      </td>
      
      <td>
      <p>
        <strong>Status:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.status.humanize : bug_ticket.status.humanize%>
      </p>

      <p>
        <strong>Priority:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.priority.humanize  : bug_ticket.priority.humanize %>
      </p>

      <p>
        <strong>Ticket Reporter:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.owner.humanize  : bug_ticket.owner.humanize %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= bug_ticket.try(:reify) ? bug_ticket.reify.comment : bug_ticket.comment%>
      </p>
      </td>
    </tr>
  </tbody>
</table>
<% end %>