<%= form_with(model: bug_ticket) do |form| %>
  <% if bug_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug_ticket.errors.count, "error") %> prohibited this bug_ticket from being saved:</h2>

      <ul>
        <% bug_ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table>

  <div class="field">
    <tr>
      <td> <%= form.label :main_image %></td>
      <td> <%= form.file_field :main_image %></td>
    </tr>
  </div>
  
  <div class="field">
    <tr>
      <td><%= form.label :project_id%></td>
      <td><%= form.select(:project_id, 
      @project_options,
      {
        selected: form.object.project_id || "",
        disabled: "",
        prompt: 'Select Project'
      },
      :required => "true") %></td>
    </tr>
  </div>


  <div class="field">
    <tr>
      <td><%= form.label :category %></td>
      <td><%= form.select :category, [['Bugs/Errors', 'bug'], ['Training/Document Requests', 'training_documents'], ['Feature Requests', 'feature_requests'], ['Other', 'other']], {:selected => @bug_ticket.category} %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= form.label :priority %></td>
      <td><%= form.select :priority, [['Low', 'low'], ['Medium', 'medium'], ['High', 'high'], ['Urgent', 'urgent']], {:selected => @bug_ticket.priority} %></td>
    </tr>
  </div>
  
  <div class="field">
    <tr>
      <td><%= form.label :bug_behavior %></td>
      <td><%= form.text_area :bug_behavior %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= form.label :environment %></td>
      <td><%= form.text_area :environment %></td>
    </tr>
  </div>

  <% if current_user && current_user.role == "lead" || current_user.admin %>

    <div class="field">
      <tr>
        <td><%= form.label :status %></td>
        <td><%= form.select :status, [['Open', 'open'], ['In Progress', 'in_progress'], ['Additional Info Required', 'additional_info'], ['Closed', 'closed']], {:selected => @bug_ticket.status} %></td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
        <td><%= form.label :comment %></td>
        <td><%= form.text_area :comment, value: "" %></td>
      </tr>
    </div>

    <%= fields_for(@bug_ticket_user) do |btu| %>
    <div class="field">
      <tr>
        <td><%= btu.label "Assign Support" %></td>
        <td><%= collection_select(:users, :id, @all_users_except_self, :id, :email, {:selected => @bug_ticket.users.ids}, {:multiple => true}) %></td>
      </tr>
    </div>
    <% end %>
  <% end %>
  <div class="actions">
    <tr>
      <td colspan="2"><%= form.submit %></td>
    </tr>
  </div>
</table>
<% end %>