<%= form_with(model: bug_ticket) do |form| %>
  <% if bug_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug_ticket.errors.count, "error") %> prohibited this bug_ticket from being saved:</h2>

      <ul>
        <% bug_ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <div class="field">
    <tr>
      <td><%= form.label :bug_behavior %></td>
      <td><%= form.text_area :bug_behavior %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= form.label :environment %></td>
      <td><%= form.text_area :environment %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= form.label :priority %></td>
      <td><%= form.text_field :priority %></td>
    </tr>
  </div>

  <div class="actions">
    <tr>
      <td colspan="2"><%= form.submit %></td>
    </tr>
  </div>
</table>
<% end %>
