<h1>Bug Tickets</h1>

<% if current_user.role != "user"%>
<table>
  <thead>
    <tr>
      <th>Bug Behavior</th>
      <th>Environment</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bug_tickets.where(status: "Open").each do |bug_ticket| %>
      <tr>
        <td><%= bug_ticket.bug_behavior %></td>
        <td><%= bug_ticket.environment %></td>
        <td><%= bug_ticket.status %></td>
        <td><%= bug_ticket.priority %></td>
        <td><%= link_to 'Show', bug_ticket %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_bug_ticket_path(bug_ticket) %></td>
          <td><%= link_to 'Destroy', bug_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Bug Behavior</th>
      <th>Environment</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @bug_tickets.where(status: "Closed").each do |bug_ticket| %>
    <tr>
      <td><%= bug_ticket.bug_behavior %></td>
      <td><%= bug_ticket.environment %></td>
      <td><%= bug_ticket.status %></td>
      <td><%= bug_ticket.priority %></td>
      <td><%= link_to 'Show', bug_ticket %></td>
      <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_bug_ticket_path(bug_ticket) %></td>
        <td><%= link_to 'Destroy', bug_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
    <% end %>
<% else %>
<table>
  <thead>
    <tr>
      <th>Bug Behavior</th>
      <th>Environment</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_bug_tickets.where(status: "Open").each do |bug_ticket| %>
      <tr>
        <td><%= bug_ticket.bug_behavior %></td>
        <td><%= bug_ticket.environment %></td>
        <td><%= bug_ticket.status %></td>
        <td><%= bug_ticket.priority %></td>
        <td><%= link_to 'Show', bug_ticket %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th>Bug Behavior</th>
      <th>Environment</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user_bug_tickets.where(status: "Closed").each do |bug_ticket| %>
    <tr>
      <td><%= bug_ticket.bug_behavior %></td>
      <td><%= bug_ticket.environment %></td>
      <td><%= bug_ticket.status %></td>
      <td><%= bug_ticket.priority %></td>
      <td><%= link_to 'Show', bug_ticket %></td>
    </tr>
  </tbody>
</table>
    <% end %>
<% end %>
<br>

<%= link_to 'New Bug Ticket', new_bug_ticket_path %>
