<div class="container justify-content-center overflow-auto overflow-size">
<h1>Ticket Log</h1>

<table>
  <thead>
    <tr>
      <th>Current Log</th>
    </tr>
    <tr>
      <td>
        <p>
        <strong>Project Title:</strong>
        <%= Project.find(@bug_ticket.project_id).title %>
      </p>
    </tr>
    <tr>
      <td>
        <p>
        <strong>Project Description:</strong>
        <%= Project.find(@bug_ticket.project_id).description %>
      </p>
    </tr>
    <tr>
      <td>
        <p>
        <strong>Created On:</strong>
        <%= @bug_ticket.created_at %>
      </p>

      <p>
        <strong>Bug Behavior:</strong>
        <%= @bug_ticket.bug_behavior %>
      </p>

      <p>
        <strong>Environment:</strong>
        <%= @bug_ticket.environment %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @bug_ticket.status.humanize  %>
      </p>

      <p>
        <strong>Priority:</strong>
        <%= @bug_ticket.priority.humanize  %>
      </p>

      <p>
        <strong>Ticket Reporter:</strong>
        <%= @bug_ticket.owner.humanize  %>
      </p>

      <p>
        <strong>Technical Support Assigned:</strong>
        <br />
        <% if @bug_ticket.users.any?  %>
          <% @bug_ticket.users.each do |user| %>
            <%= user.email %>
            <br />
          <% end %>
        <% elsif @bug_ticket.priority == "high" %>
            <p>Please wait between 1-2 hours for someone to be assigned.</p>
        <% elsif @bug_ticket.priority == "urgent" %>
            <p>Please wait between 1-2 hours for someone to be assigned. If it requires immediate attention, please contact the IT desk.</p>
        <% else %>
            <p>"Please wait between 4-8 hours for someone to be assigned."
        <% end %>
        <p>
          <strong>Last Updated:</strong>
          <%= @bug_ticket.updated_at %>
        </p>
      </p>

      <% if @bug_ticket.main_image.attached? %>
      <p>
        <strong>Image:</strong>
        <div>
          <%= image_tag @bug_ticket.main_image %>
        </div>
      </p>
      <% end %>
      </td>
    </tr>
    <% if @bug_ticket.comment.nil? || @bug_ticket.comment != "" %>
    <tr>
      <td>
        <p>
          <strong>Support:</strong>
          <%= User.find(@bug_ticket.versions.last.whodunnit).email.capitalize %>
        </p>
        <p>
          <strong>Current Comment:</strong>
          <%= @bug_ticket.comment %>
        </p>
      </td>
    </tr>
    <% end %>
  </thead>
</table>
<br>
<table>
  <thead>
    <th>Last Updated</th>
    <th>Modifier</th>
    <th>Changes</th>
  </thead>
  <tbody>
    <%= render partial: "bug_ticket", collection: @bug_tickets.reverse %>
  </tbody>
</table>
<br>
<%= link_to 'Back', bug_tickets_path %>
</div>