<h1>Update Log</h1>

<table>
  <thead>
    <tr>
      <th>Current</th>
    </tr>
    <tr>
      <td>
        <p>
        <strong>Created On:</strong>
        <%= @bug_ticket.created_at %>
      </p>

      <p>
        <strong>Bug Behavior:</strong>
        <%= @bug_ticket.bug_behavior %>
      </p>

      <p>
        <strong>Environment:</strong>
        <%= @bug_ticket.environment %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @bug_ticket.status %>
      </p>

      <p>
        <strong>Priority:</strong>
        <%= @bug_ticket.priority %>
      </p>

      <p>
        <strong>Ticket Reporter:</strong>
        <%= @bug_ticket.owner %>
      </p>

      <p>
        <strong>Technical Support Assigned:</strong>
        <br />
        <% if @bug_ticket.users.any?  %>
          <% @bug_ticket.users.each do |user| %>
            <%= user.email %>
            <br />
          <% end %>
        <% elsif @bug_ticket.priority == "High" %>
            <p>Please wait between 1-2 hours for someone to be assigned.</p>
        <% elsif @bug_ticket.priority == "Urgent" %>
            <p>Please wait between 1-2 hours for someone to be assigned. If it requires immediate attention, please contact the IT desk.</p>
        <% else %>
            <p>"Please wait between 4-8 hours for someone to be assigned."
        <% end %>
        <p>
          <strong>Last Updated:</strong>
          <%= @bug_ticket.updated_at %>
        </p>
      </p>
      </td>
    </tr>
  </thead>
</table>
<br>
<table>
  <thead>
    <th>Last Updated</th>
    <th>Modifier</th>
    <th>Changes</th>
  </thead>

  <tbody>
    <%= render partial: "bug_ticket", collection: @bug_tickets.reverse %>
  </tbody>
</table>

<br>

<%= link_to 'Back', bug_tickets_path %>